body{
    margin:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    margin:0 auto;
    height: 65px;
    display: flex;
    align-items: center;
    z-index: 997;
    position: sticky;
    top:0px;
    background: rgb(43, 159, 226);
}
.navbar-header{
    flex: none;
    width: 265px;
    font-size: 35px;
    font-weight: 500;
    color: rgb(94, 91, 91);
    text-indent: 8%;
    cursor:pointer;
}
.navbar-nav{
    margin-left:20px;
    display: flex;
    list-style-type: none;
}
.navbar-nav>.item{
    flex: none;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    width:130px;
    cursor:pointer;
}
.navbar-nav a{
    color: rgb(94, 91, 91);
    text-decoration: none;
}
.sign{
    position: absolute;
    right:1%;
    top:19px;
    flex: none;
    font-size: 21px;
    font-weight: 600;
    color: rgb(94, 91, 91);
    cursor:pointer;
    /* background-color: chocolate; */
}
.container{
    margin: 0 auto;
    margin-top: 50px;
    width:1200px;
}
.module-title{
    margin-top: 30px;
    padding: 8px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(94, 91, 91);
}
#choose-module{
    display: none;
}
.chord-module{
    margin: 0 auto;
    display: flex;
    justify-content:flex-start;
}
.module{
    flex: none;
    text-align: center;
    width:75px;
    padding: 8px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(94, 91, 91);
    background-color: rgb(213, 214, 214);
    cursor:pointer;
    border:0.5px solid;
}
.module-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}
.module-chords{
    flex: auto;
    text-align: center;
    min-width:75px;
    padding: 8px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(94, 91, 91);
    background-color: rgb(213, 214, 214);
    cursor:pointer;
    border:0.5px solid;
}
.custom-title{
    margin-top: 30px;
    padding: 8px;
    font-size: 22px;
    font-weight: 800;
    color: rgb(94, 91, 91);
}
.string_1{
    background-color: rgb(158, 98, 49);
}
.string_2{
    background-color: rgb(150, 95, 51);
}
.string_3{
    background-color: rgb(150, 95, 51);
}
.string_4{
    background-color: rgb(150, 95, 51);
}
.string_5{
    background-color: rgb(150, 95, 51);
}
.string_6{
    background-color: rgb(158, 98, 49);
}

.number>.fretlabels{
    width:60px;
    height:35px;
    background: white;
    text-align: center;
}
.mute{
    font-size: 20px;
    width:80px;
}
.fretlabels{
    width:70px;
    height:35px;
    background: rgb(189, 154, 90);
    text-align: center;
}
.chord-result{
    font-size: 20px;
    font-weight: 600;
    color: rgb(94, 91, 91);
    margin-top: 30px;
}
.play-audio{
    margin-top: 60px;
    width:70px;
    height:50px;
    background: teal;
    color: white;
    border-radius: 15%;
    border-style: none;
    cursor: pointer;
}
