body{
    margin:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
    margin:0 auto;
    height: 65px;
    display: flex;
    align-items: center;
    z-index: 997;
    position: sticky;
    top:0px;
    background: rgb(43, 159, 226);
}
.navbar-header{
    flex: none;
    width: 265px;
    font-size: 35px;
    font-weight: 500;
    color: rgb(94, 91, 91);
    text-indent: 8%;
    cursor:pointer;
}
.navbar-nav{
    margin-left:20px;
    display: flex;
    list-style-type: none;
}
.navbar-nav>.item{
    flex: none;
    font-size: 21px;
    font-weight: 600;
    font-style: normal;
    width:130px;
    cursor:pointer;
}
.navbar-nav a{
    color: rgb(94, 91, 91);
    text-decoration: none;
}
.sign{
    position: absolute;
    right:1%;
    top:19px;
    flex: none;
    font-size: 21px;
    font-weight: 600;
    color: rgb(94, 91, 91);
    cursor:pointer;
    /* background-color: chocolate; */
}
.container{
    margin: 0 auto;
    width:1200px;
}
.guitar-model{
    margin-top: 60px;
    background: red;
}
.string{
    padding: 20px;
}
#string-1{
    background: yellow;
}
#string-2{
    background: rgb(255, 0, 0);
}
#string-3{
    background: rgb(0, 4, 255);
}
#string-4{
    background: rgb(0, 255, 34);
}
#string-5{
    background: rgb(112, 14, 107);
}
#string-6{
    background: rgb(122, 53, 7);
}